body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table{
  margin-top: 25px;
}
.search-style{
  width: 40%;
  border-radius: 5px;
}
button{
  border-radius: 5px;
}
.searchbar{
  display: flex;
  margin-left: auto;
}
.mapHeading{
  text-align: center;
}
.form_style{
  text-align: center;
}
.form_style label{
  margin-left: -140px;
  font-weight: bold;
}